<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@event, remote: remote, html: {role: :form, 'data-model' => 'event'}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="dialog-form" title="Create new event">
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "text ui-widget-content ui-corner-all" %>
    </div>
    <div class="field">
      <%= f.label :start_datetime %><br>
      <%= f.datetime_select :start_datetime, class: "text ui-widget-content ui-corner-all" %>
    </div>
    <div class="field">
      <%= f.label :end_datetime %><br>
      <%= f.datetime_select :end_datetime, class: "text ui-widget-content ui-corner-all" %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: "text ui-widget-content ui-corner-all" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
