<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>

<p class="navbar-text pull-right">
  <% if patient_signed_in? %>
  Logged in as <strong><%= current_patient.email %></strong>.
  <%= link_to 'Edit profile', edit_patient_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_patient_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
  <%= link_to "Sign up", new_patient_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_patient_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>

<h1> Hate the Waiting Room? </h1>
<h2> Tell your Doctor you are on your way </h2>

<button id="appointment"> View Appointmnet </button>


<div id="calendar" height: "200" width: "200"></div>

<script>
$('#appointment').on('click', showAppointment);
function showAppointment() {




};
</script>

<%= button_to "Start my Paperwork", '#', method: :get %>
<%= button_to "Send Message", '#', method: :get %>


<p id="demo"></p>


<script>
$("#chosenDoctor").on("click",function(){
  var x = $('select')[0].value;
  $("<p>").text("You Chose:" + x).attr('id','text').insertAfter('#chosenDoctor');
  $("<button>").text("Figure out how far you are away").attr("id", "tracking").insertAfter('#text');
});

$('body').on("click","#tracking", getLocation)
var y = $('#demo')[0];

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPositionInMap);
    } else {
        y.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPositionInMap(position) {
    y.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
}

</script>
