<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>

<p class="navbar-text pull-right">
  <% if patient_signed_in? %>
  Logged in as <strong><%= current_patient.email %></strong>.
  <%= link_to 'Edit profile', edit_patient_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_patient_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
  <%= link_to "Sign up", new_patient_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_patient_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>

<div id="calendar" height: "600" width: "800"></div>

<script>
$(function() {
  debugger;
    $('#calendar').fullCalendar({
        googleCalendarApiKey: 'GOOGLE__CAL_API',
        events: {
            googleCalendarId: 'n825ka53ioka43rmf80b9pagn4@group.calendar.google.com'
        },
        header: { center: 'month, basicWeek, basicDay' }, // buttons for switching between views
        views: {
            month: { // name of view
                // titleFormat: 'YYYY, MM, DD'
                // other view-specific options here
            },
            week: {
            },
            day: {
            }
        }
    });
});
</script>

<%= button_to "Start my Paperwork", '#', method: :get %>
<%= button_to "Send Message", '#', method: :get %>
<div id="outputDiv"></div>


<p id="demo"></p>


<script>
$("#chosenDoctor").on("click",function(){
  var x = $('select')[0].value;
  $("<p>").text("You Chose:" + x).attr('id','text').insertAfter('#chosenDoctor');
  $("<button>").text("Figure out how far you are away").attr("id", "tracking").insertAfter('#text');
});

$('body').on("click","#tracking", getLocation)
var y = $('#demo')[0];

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPositionInMap);
    } else {
        y.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPositionInMap(position) {
    y.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
}

// var travelMode = function (){
//   if ($(‘select#travel_mode’).val() == ‘walking’){
//     travelMode = google.maps.TravelMode.WALKING;
//   } else if ($(‘select#travel_mode’).val() == ‘driving’){
//     travelMode = google.maps.TravelMode.DRIVING;
//   } else if ($(‘select#travel_mode’).val() == ‘biking’){
//     travelMode = google.maps.TravelMode.BIKING;
//   } else if ($(‘select#travel_mode’).val() == ‘transit’){
//     travelMode = google.maps.TravelMode.TRANSIT;
//   } 
// }


var origin = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
var destination = new google.maps.LatLng(40.739998,-73.990098);

function calculateDistances() {
  var service = new google.maps.DistanceMatrixService();
  service.getDistanceMatrix(
    {
      origins: [origin],
      destinations: [destination],
      travelMode: google.maps.TravelMode.DRIVING,
      unitSystem: google.maps.UnitSystem.IMPERIAL,
      avoidHighways: false,
      avoidTolls: false
    }, callback);
}

function callback(response, status) {
  if (status != google.maps.DistanceMatrixStatus.OK) {
    alert('Error was: ' + status);
  } else {
    var origins = response.originAddresses;
    var destinations = response.destinationAddresses;
    var outputDiv = document.getElementById('outputDiv');
    outputDiv.innerHTML = '';
    outputDiv.innerHTML += origins + ' to ' + destinations + ': ' + results.distance.text + ' in ' + results.duration.text + '<br>';
  }
}

</script>

