<%= javascript_include_tag "patient.js" %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="navbar-fixed">
  <nav class="blue darken-3" role="navigation">
    <div class="container">
      <div class="nav-wrapper"><a id="logo-container" href="#!" class="brand-logo"><%= image_tag("in loop logo.png") %></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Logout", destroy_patient_session_path, method: :delete, :class => 'navbar-link', id: "logout" %></li>
        </ul>

        <ul id="mobile-demo" class="side-nav">
          <li><a href="#">View</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<!-- <p class="navbar-text pull-right"> -->
  <%# if patient_signed_in? %>
    <!-- Logged in as <strong><%#= current_patient.email %></strong><br> -->
    <%#= link_to 'edit profile', edit_patient_registration_path, :class => 'navbar-link', id: "edit"%> |
    <%#= link_to "logout", destroy_patient_session_path, method: :delete, :class => 'navbar-link', id: "logout" %>
  <%# else %>
    <%#= link_to "Sign up", new_patient_registration_path, :class => 'navbar-link'  %> |
    <%#= link_to "Login", new_patient_session_path, :class => 'navbar-link'  %>
  <%# end %>
<!-- </p> -->

<div id="events"></div>

<div class="container">
  <div class="row">
    <div class="entry col s12">
      <table class="hoverable">
        <h5 class="header center black-text">Appointments</h5>
        <thead>
          <tr>
            <th data-field="Doctor Name">Doctor Name</th>
            <th data-field="Appointment Address">Appointment Address</th>
            <th data-field="Appointment Time">Appointment Time</th>
            <th data-field="Purpose">Purpose</th>
          </tr>
        </thead>

        <tbody>
        <% @appointments.each do |appointment| %>
          <tr class="appointment" data-doctor-id = "<%= appointment.doctor_id %>">

                <td id="appt_name"><%= appointment.doctor.first_name %> <%= appointment.doctor.last_name %></td>
                <td id="appt_address"><%= appointment.address %> <%= appointment.city %> <%= appointment.state %> <%= appointment.zip %></td>
                <td id="appt_time"><%= appointment.start %></td>
                <td id="appt_purpose"><%= appointment.title %></td>

          </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s3 offset-s3">
    <%= link_to "  On My Way  ", '#', id: "tracking", class: "btn-large waves-effect waves-light red" %>
    </div>
    <div class="col s3">
    <%= link_to "  Send Message  ", "/messages.html", id: "send_message", class: "btn-large waves-effect waves-light red" %>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="entry col s12">
      <table class="hoverable">
        <thead>
          <tr>
            <th>Current Location & ETA</th>
          </tr>
          <tbody>
            <tr>
              <td id="outputDiv"></td>
            </tr>
          </tbody>
        </thead>
      </table>
    </div>
  </div>
</div>
<p id="demo"></p>


<div id="travel">
  <select id="buttonDiv">
    <option value="driving">Driving</option>
    <option value="transit">Public transportation</option>
    <option value="walking">Walking</option>
  </select>
</div>
<br><br>
<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <h5 class="white-text">In-Loop Bio</h5>
        <p class="grey-text text-lighten-4">An appointment based application for healthcare providers that allows them to anticipate the estimated time of arrival of individual patients with same day appointments. It allows patients to display their ETA prior to their appointment , hence confirming their visit, which allows healthcare providers to improve patient experience and operational efficiency with better clinical workflow and help reduce check-in time and waiting time drastically.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>

