<div class="navbar-fixed">
  <nav class="blue darken-3" role="navigation">
    <div class="container">
      <div class="nav-wrapper"><a id="logo-container" href="#!" class="brand-logo"><%= image_tag("in loop logo.png") %></a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to 'View', doctor_path(current_doctor.id) %></li>
          <li><%= link_to 'Calendar', doctors_path %></li>
          <li><%= link_to "logout", destroy_doctor_session_path, method: :delete, :class => 'navbar-link', id: "logout" %></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><%= link_to 'View', doctor_path(current_doctor.id) %></li>
          <li><%= link_to 'Calendar', doctors_path(current_doctor.id) %></li>
          <li><%= link_to "logout", destroy_doctor_session_path, method: :delete, :class => 'navbar-link', id: "logout" %></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">

  <div id="calendar"></div>

  <!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light red btn" href="#modal1">Create Appointment</a>
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="row">
      <%= form_for@appointment, html: {class: 'col s12'} do |f| %>
      <div class="modal-content">
        <div class="row">
          <div class="field col s6">
            <%= f.label :address %><br> <!-- change -->
            <%= f.text_field :address %>
          </div>
          <div class="field col s6">
            <%= f.label :city %><br> <!-- change -->
            <%= f.text_field :city %>
          </div>
        </div>
        <div class="row">
          <div class="field col s6">
            <%= f.label :state %><br> <!-- change -->
            <%= f.text_field :state %>
          </div>
          <div class="field col s6">
            <%= f.label :zip %><br> <!-- change -->
            <%= f.text_field :zip %>
          </div>
        </div>
        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </div>
        <div class="row">
          <div class="field col s6">
            <%= f.label :start %><br>
            <%= f.text_field :start, id: 'date-start' %>
          </div>
          <div class="field col s6">
            <%= f.label :end %><br>
            <%= f.text_field :end , id: 'date-end' %>
          </div>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</button>
        <div class="actions">
          <%= f.submit 'Create' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
