<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>

  <div class="navbar-fixed">
    <nav class="blue darken-3" role="navigation">
      <div class="container">
        <div class="nav-wrapper"><a id="logo-container" href="#!" class="brand-logo"><%= image_tag("in loop logo.png") %></a>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          <ul class="right hide-on-med-and-down">
            <li><%= link_to 'View', doctor_path(current_doctor.id) %></li>
            <li><%= link_to 'Calendar', doctors_path %></li>
            <li><%= link_to "logout", destroy_doctor_session_path, method: :delete, :class => 'navbar-link', id: "logout" %></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><%= link_to 'View', doctor_path(current_doctor.id) %></li>
            <li><%= link_to 'Calendar', doctors_path %></li>
            <li><%= link_to "logout", destroy_doctor_session_path, method: :delete, :class => 'navbar-link', id: "logout" %></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


<p class="navbar-text pull-right">
  <% if doctor_signed_in? %>
  Logged in as <strong><%= current_doctor.email %></strong><br>
  <%= link_to 'edit profile', edit_doctor_registration_path, :class => 'navbar-link', id: "edit"%> |
  <%= link_to "logout", destroy_doctor_session_path, method: :delete, :class => 'navbar-link', id: "logout" %>
  <% else %>
  <%= link_to "Sign up", new_doctor_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_doctor_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>

<h1> Checked In </h1>
<table class="checkedIn">
  <tr id="checkedInRow"> 
    <td id="appt3"> Appointment</td>
    <td id="name3"> Name</td>
    <td id="purpose3"> Purpose</td>
    <td id="checkbox3"> Seen? </td>
  </tr>
</table>


<h1> En Route </h1>
<table class="enRoute">
</table>

<h1> Later Appointments </h1>
<table class="laterAppt">
</table>

<h1> Completed </h1>
<table class="Completed">
    <tr id="completedRow"> 
    <td id="appt4"> Appointment</td>
    <td id="name4"> Name</td>
    <td id="purpose4"> Purpose</td>
  </tr>
</table>


<!--   <div class="container">
    <div class="row">
      <div class="col s8">
        <table class="hoverable checkedIn">
          <h5 class="header center red-text">Current Waiting List</h5>
          <thead>
            <tr>
                <th data-field="id">Input</th>
                <th data-field="name">Input</th>
                <th data-field="price">Input</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Input</td>
              <td>Input</td>
              <td>Input</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col s4">
        <table class="hoverable Completed">
          <h5 class="header left red-text">Seen Today</h5>
          <thead>
            <tr>
                <th data-field="id">Input</th>
                <th data-field="name">Input</th>
                <th data-field="price">Input</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Input</td>
              <td>Input</td>
              <td>Input</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col s8">
        <table class="hoverable enRoute">
          <h5 class="header center red-text">Currently Arriving List with ETA</h5>
          <thead>
            <tr>
                <th data-field="id">Input</th>
                <th data-field="name">Input</th>
                <th data-field="price">Input</th>
            </tr>
          </thead>

          <tbody>
            <tr id="">
              <td>Input</td>
              <td>Input</td>
              <td>Input</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col s4">
        <table class="hoverable laterAppt">
          <h5 class="header left red-text">Upcoming Appointments</h5>
          <thead>
            <tr>
                <th data-field="id">Input</th>
                <th data-field="name">Input</th>
                <th data-field="price">Input</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Input</td>
              <td>Input</td>
              <td>Input</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
 -->
<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <h5 class="white-text">In-Loop Bio</h5>
        <p class="grey-text text-lighten-4">An appointment based application for healthcare providers that allows them to anticipate the estimated time of arrival of individual patients with same day appointments. It allows patients to display their ETA prior to their appointment , hence confirming their visit, which allows healthcare providers to improve patient experience and operational efficiency with better clinical workflow and help reduce check-in time and waiting time drastically.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>


<script>
  $(function(){

    var m = function(){
      $('.enRoute').on('click','#arrived_checkbox',changeToCheckedIn)


      $.get('/doctors/' + '<%= current_doctor.id %>' + '/get_patient').done(function(data){
        console.log("mooo");
      var descripRow = $('<tr>').attr('id', 'descripRow');
        var enRouteRow = $('<tr>').attr('id', 'enRouteRow');
        var appt = $('<td>').attr('id', 'appt').text("Appt");
        var patientName = $('<td>').attr('id', 'name').text("Name");
        var purpose = $('<td>').attr('id', 'purpose').text("Purpose");
        var appt2 = $('<td>').attr('id', 'appt').text("Appt");
        var patientName2 = $('<td>').attr('id', 'name').text("Name");
        var purpose2 = $('<td>').attr('id', 'purpose').text("Purpose");
        var checkbox = $('<td>').attr('id', 'checkbox').text("Checkbox");
        var descripObject = descripRow.append(appt).append(patientName).append(purpose);
        var eta = $('<td>').attr('id', 'eta').text("ETA");  
        var enRouteObject= enRouteRow.append(appt2).append(patientName2).append(purpose2).append(eta).append(checkbox);
        $('.enRoute').append(enRouteObject);
        $('.laterAppt').append(descripObject);
        data.forEach(function(element, index, array){
          var patientAppt = $('<tr>').attr('id', 'patientAppt').data('patient-id', element.patient.id);
            var start = $('<td>').attr('id', 'start').text(element.start);
            var name = $('<td>').attr('id', 'name').text(element.patient.first_name + ' ' + element.patient.last_name);
            var title = $('<td>').attr('id', 'purpose').text(element.title);
            var patientObject = patientAppt.append(start).append(name).append(title);
        // debugger;
            if (element.eta != null) {
              $('.enRoute').append(patientObject);
              var eta = $('<td>').attr('id', 'eta').text(element.eta);
              var checkbox = $('<button>').attr("id","arrived_checkbox").attr("type","button").text("Check In");
              patientObject.append(eta).append(checkbox);
            }
            else {
              $('.laterAppt').append(patientObject);
            }
          });
      });
    $('.enRoute').empty();
    $('.laterAppt').empty();
    };

    function changeToCheckedIn(){
      var patientObject = $(this).parent();
      $('.checkedIn').append(patientObject);
      // $(this).remove();
      $.ajax({
        url: '/doctors/' + <%= current_doctor.id %> + '/appointments/patient/' + $(this).parent().data().patientId,
        type: 'DELETE',
        success: function() {
          $(this).remove();
        }
      });
    }
    setInterval(m,5000);

  });
</script>
