<%# modal ||= false %>
<%# remote = modal ? true : false %>
<%= form_for(@appointment) do |f| %>
  <div id="dialog-form" title="Create new appointment">
    <div class="field">
      <%= f.label :doctor_id %><br>
      <%= f.text_field :doctor_id, class: "text ui-widget-content ui-corner-all" %>
    </div>
    <div class="field">
      <%= f.label :doctor_office %><br>
      <%= f.text_field :doctor_office, class: "text ui-widget-content ui-corner-all" %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "text ui-widget-content ui-corner-all" %>
    </div>
    <div class="field">
      <%= f.label :start %><br>
      <%= f.datetime_select :start, class: "text ui-widget-content ui-corner-all" %>
    </div>
    <div class="field">
      <%= f.label :end %><br>
      <%= f.datetime_select :end, class: "text ui-widget-content ui-corner-all" %>
    </div>
  
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: "text ui-widget-content ui-corner-all" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>

